<div id="content">

  <div id='controlPanel'>
    <form id='params'>
      <h3>Parameters<span id='help'>help</span></h3>
      <table>

        <tr>
          <td>Favorites:</td>
          <td><select name="preDefined" id="preDefined">
            <option value="custom">Custom Settings</option>
            <option value="sierpinksiTriangle">Sierpinksi Triangle</option>
            <option value="dragon">Dragon</option>
            <option value="plant">Plant</option>
            <option value="kochCurve">Koch Curve</option>
        </select></td>
        </tr>

        <tr>
          <td>Angle: </td>
          <td>
            <input type="text" name="angle" value="30" id="angle">
            <select>
              <option value="degrees">deg</option>
              <option value="radians">rad</option>
            </select> 
            <span>
              <button id='deg-add'>+</button>
              <button id='deg-minus'>-</button>
            </span>
          </td>
        </tr>

        <tr>
          <td>Iterations: </td>
          <td>
            <input type="text" name="iterations" value="5" id="iterations">
            <span>
              <button id='it-add'>+</button>
              <button id='it-minus'>-</button>
            </span>
          </td>
        </tr>
        
        <tr>
          <td>Initial string: </td>
          <td>
            <input type="text" name="startingString" value="FX" id="startingString">
          </td>
        </tr>

        <tr>
          <td>Rule 1: </td>
          <td>
            <input class='input' type="text" name="r1_input" value="X" id="r1_input">
            &rarr;
            <input class='output' type="text" name="r1_output" value="Fr[[X]lX]lF[lFX]rX" id="r1_output">
          </td>
        </tr>
        
        <tr>
          <td>Rule 2: </td>
          <td>
            <input class='input' type="text" name="r2_input" value="F" id="r2_input">
            &rarr;
            <input class='output' type="text" name="r2_output" value="FF" id="r2_output">
          </td>
        </tr>
        
        <tr>
          <td>Rule 3: </td>
          <td>
            <input class='input' type="text" name="r3_input" value="" id="r3_input">
            &rarr;
            <input class='output' type="text" name="r3_output" value="" id="r3_output">
          </td>
        </tr>


      </table>
      <button id='submit'>
        Draw
          <span class="black-pencil"></span>
      </button>
    </form>

  </div>

  <div id='info'>
    <span>generating...</span>
    <!--<span id='prevIteration' class="icon-settings"></span>-->
    <!--<span id='nextIteration' class="icon-settings"></span>-->
    <span id='toggleControls' class="icon-settings"></span>
  </div>

  <canvas id="canvas" width="700" height="700"></canvas>

</div>
